<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingreso Litros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="start">1er Ordeñe: </ion-label>
       <ion-input [(ngModel)] = "pri_ord" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="start">2do Ordeñe: </ion-label> 
      <ion-input [(ngModel)] = "seg_ord" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="start">3er Ordeñe: </ion-label> 
      <ion-input [(ngModel)] = "ter_ord" type="number"></ion-input>
    </ion-item>

    <ion-button (click) = "Subir()" color="dark" expand="full">Guardar</ion-button>
  
</ion-content>
