.titulo_cen {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color:royalblue;
    position: center;
    
 }
  
.user_log{
text-align: right;
position: absolute;
right:5%;
color:gray;
}
 