<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Estadísticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-radio-group value ="MO" [(ngModel)]="seleccion" >
      <ion-label position="start">Opciones de Visualización</ion-label>
      <ion-item *ngIf="seleccion!='MT'">
        <ion-label>Mostrar Total</ion-label>
        <ion-radio slot="start" value="MT" color="dark"></ion-radio>
      </ion-item>
      <ion-item *ngIf="seleccion!='MO'">
        <ion-label>Mostrar por ordeñe</ion-label>
        <ion-radio slot="start" value="MO" color="dark"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <ion-content padding>
    <div *ngIf="seleccion=='MT'">
    <ion-item>
      <ion-label  position="center" > Totales Diarios </ion-label>
    </ion-item>
    <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="300" height="400"
                    [datasets]="lineChartDataT"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsT"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    </div>
  <ion-list *ngIf="seleccion=='MO'">
    <ion-item>
      <ion-label  position="center"> Control Lechero por Ordeñe </ion-label>
    </ion-item>
   <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="300" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </ion-list>
  </ion-content>

</ion-content>
