<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Estadísticas
    </ion-title>
    <ion-item>
      <ion-label >{{user}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-radio-group [(ngModel)]="seleccion" value ="UM">
      <ion-label position="floating">Seleccione</ion-label>
      <ion-item>
        <ion-label>Último Mes</ion-label>
        <ion-radio slot="start" value="UM"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Seleccionar fechas</ion-label>
        <ion-radio slot="start" value="SF"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  
  <div class="ion-padding">
    <ion-item>
    <ion-label position="center"> Inicio: </ion-label>
    <ion-datetime  [(ngModel)]= "fechaI" display-timezone="utc"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="center"> Fin: </ion-label>
    <ion-datetime  [(ngModel)]= "fechaF" display-timezone="utc"></ion-datetime>

  </ion-item>
  </div>

  <ion-content padding>
    <ion-item>
      <ion-label position="center"> Totales Diarios </ion-label>
    </ion-item>
    <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="300" height="400"
                    [datasets]="lineChartDataT"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsT"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
   
    <ion-item>
      <ion-label position="center"> Valores por Ordeñe </ion-label>
    </ion-item>
   <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="300" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </ion-content>

</ion-content>
